*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray
}

.game{
    width: 100vmin;
    height: 50vmin;
    border: 1px solid black;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
}

.hero{
    width: 5vmin;
    height: 12vmin;
    background-color: blue;
    position: relative;
    top: 38vmin;
    left: 47.5vmin;
    /* animation: jump 500ms; */
}
@keyframes jump{
    0%{top: 38vmin}
    30%{top: 25vmin}
    70%{top: 25vmin}
    100%{top: 38vmin}
}

.animate{
    animation: jump 500ms;
}

.obstacle{
    width: 5vmin;
    height: 5vmin;
    background-color: red;
    position: relative;
    top: 33vmin;
    left: 95vmin;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 95vmin;}
    100%{left: -5vmin}
}