body{
    margin: 0;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board{
    width: 90vmin;
    height: 90vmin;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake{
    background-color: green;
    border: solid black 0.1vmin;
}