/**BANNER**/

.banner{
    padding: 30px;
    background-color: #BBA598;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding-top: 134px;
}

.banner h1{
    font-size: 28px;
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: white;
}

.banner p{
    font-size: 14px;
    word-spacing: 2px;
}

.banner .project_details{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.banner .project_details h4{
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
}

.banner .project_details p{
    font-size: 18px;
    color:white;
    font-weight: 900;
    margin: 10px 0;
}

.project_location{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.project_type{
    display: flex;
    flex-direction: column;
    width: 50%;
}

 .project_location_materials, .project_type_materials{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.project_location_materials .mat, .project_type_materials .mat{
    width: 50%;
}

.project_location_materials .mat img, .project_type_materials .mat img{
    width: 60px;
}


@media(min-width: 1100px){
    .banner{
        padding: 30px 100px 30px;
        display: flex;
        flex-direction: row;
    }

    .banner h1{
        font-size: 35px;
    }

    .banner p{
        font-size: 16px;
    }

    .banner .project_details h4{
        font-size: 16px;
    }
    
    .banner .project_details p{
        font-size: 20px;
    }

    .banner_description{
        width: 60%;
        margin-right: 50px;
    }

    .project_details{
        width: 40%;
        margin-right: 50px;
    }

    .project_location_materials .mat img, .project_type_materials .mat img{
        width: 70px;
    }
}

/****************************GALLERY****************************/

main .gallery_container{
    position: relative;
    overflow: hidden;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: calc(100vh - 130px);
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

.slide{
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.slide > img{
    height: 100%;
    object-fit: cover;
}

.prevBtn{
    position: absolute;
    top: 50%;
    left: 5vw;
    font-size: 30px;
    color: #9E9E9E;
    cursor: pointer;
}

.nextBtn{
    position: absolute;
    top: 50%;
    right: 5vw;
    font-size: 30px;
    color: #9E9E9E;
    cursor: pointer;
}


/*********************NEXT PROJECT BANNER********************************/

a.next{
    position: relative;
    display: block;
    height: 250px; 
}

.next img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

a.next .dark_background{
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

a.next h2{
    display: block;
    position: absolute;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    bottom: 30%;
    left: 20px;
    color: white;
}

a.next h3{
    display: block;
    position: absolute;
    font-size: 16px;
    text-transform: uppercase;
    color:  #BBA598;
    bottom: 50%;
    left: 20px;
}

a.next img.arrow_next{
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    bottom: 100px;
    right: 20px;
}

@media(min-width: 1100px){
    a.next{
        height: auto;
    }
    
    .next img{
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
    a.next h2{
        font-size: 32px;
        text-transform: uppercase;
        left: calc(50% - 187px);
    }
    
    a.next h3{
        font-size: 20px;
        left: calc(50% - 70px);
    }
    
    a.next img.arrow_next{
        width: 80px;
        height: 80px;
        bottom: 30%;
        right: 80px;
    }
}